<html>
    <head>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../resources/style/style.css">
        
    </head>
    
    
    <body id="endscreen">
    
        <header class="full-width text-center">
            
            <h1>Wow je hebt 46 punten.</h1>
            
            <p>Vergeet deze quiz niet te delen met je vrienden xxx.</p>
            
        </header>
        
        
        <footer class="full-width text-center">
        
            <span>
                Deze quiz wordt medemogelijk gemaAKt door IntergeilAKtisch.
            </span>
            
        </footer>
    
    </body>
</html>