<html>
    <head>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <script src="../resources/javascript/main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../resources/style/style.css">

        
    </head>
    
    
    <body>
    
        <h2 id="question"></h2>
        
        <h3 id="answer1"></h3>       
        <h3 id="answer2"></h3>      
        <h3 id="answer3"></h3>
        <h3 id="answer4"></h3>
    
    </body>
</html>