html, body {
    padding: 0;
    margin: 0;
    
    background: #9afef8;
    
    font-family: Tahoma, Geneva, sans-serif;
    
    overflow: hidden;
}

/*

Homepage specific styling.

*/

#homepage header h1 {
    margin-top: 200px;
    margin-bottom: 100px;
    
    font-size: 80px;
    
    color: #ff76af;
}

#homepage footer {
    background: #444;
    position: absolute;
    bottom: 0;
    padding: 3px;
}

#homepage footer span {
    color: #777;
}


/*

Some default misc classes to avoid code duplication.

*/

.button {
    background: #ff76af;
    padding: 10px 20px 15px 20px;
    border-radius: 20px;
    
    color: #FFF;
    font-size: 40px;
    
    
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.button:hover {
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background: #ff579d;
}



/*

Some common classes to avoid code duplication.

*/

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}